<h1><%= t('.title') %></h1>
<div class="row">
  <div class="col-sm-12">
    <%= link_to t('common.add'), new_admin_railway_station_path,
                class: 'btn btn-primary btn-lg pull-right', role: 'button' %>
  </div>
</div>
<table class="table table-striped railway-stations-grid">
  <thead>
  <tr>
    <th><%= t('admin.railway_stations.attributes.title') %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render @railway_stations %>
  </tbody>
</table>
