<tr>
  <td><%= route.name %></td>
  <%= render 'common/button_column', links: {show: admin_route_path(route),
                                             edit: edit_admin_route_path(route),
                                             delete: admin_route_path(route)
  } %>
</tr>
