<h1><%= t('.title') %></h1>
<div class="row">
  <div class="col-sm-12">
    <%= link_to t('common.add'), new_admin_route_path,
                class: 'btn btn-primary btn-lg pull-right', role: 'button' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t('admin.routes.attributes.name') %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render @routes %>
  </tbody>
</table>
