<h1>Welcome, Admin!</h1>

<ul>
  <li><%= link_to 'List all Routes', admin_routes_path %></li>
  <li><%= link_to 'List all Stations', admin_railway_stations_path %></li>
  <li><%= link_to 'List all Trains', admin_trains_path %></li>
  <li><%= link_to 'List all Tickets', admin_tickets_path %></li>
</ul>
