<h1>Tickets</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Ticket number</th>
    <th>Train</th>
    <th>Route</th>
    <th>Departing point</th>
    <th>Destination point</th>
    <th>Buyer</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%= render @tickets %>
  </tbody>
</table>
