html {
  position: relative;
  height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;

  > .container {
    min-height: 100%;
    background: #fff;
    margin-bottom: 50px;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.navbar-default {
  background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);

  a {
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  .navbar-brand {
    font-size: 18px;
    line-height: 40px;
    padding: 5px 15px;
    opacity: 1;

    > .logo {
      background: $brand-warning;
      border-radius: 5px;
      padding: 5px;
      width: 24px;
      line-height: 24px;
      text-align: center;
      display: inline-block;
      box-sizing: content-box;
    }
  }

  .navbar-text {
    margin: 15px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  .copyright {
    line-height: 20px;
    margin: 15px 0;
    background-color: $body-bg;
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  display: block;
  padding: 20px;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;

  > li > a {
    padding-right: 20px;
    padding-left: 20px;

    &:hover {
      background-color: transparent;
    }
  }
}

.main {
  padding: 20px 40px;

  .page-header {
    margin-top: 0;
  }
}

.button-column {
  width: 120px;

  a {
    display: inline-block;
    width: 30px;
    text-align: center;
  }
}
