body {
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.navbar-default {
  background:linear-gradient(154deg, #008fe2 0, #00b29c 100%);

  a {
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f9fafe;
  width: 250px;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }
}

.main {
  padding: 20px 40px;

  .page-header {
    margin-top: 0;
  }
}

.button-column {
  width: 120px;

  a {
    display: inline-block;
    width: 30px;
    text-align: center;
  }
}