<h1><%= t('.title') %></h1>

<%= render 'form', train: @train %>

<p class="nav-inner">
  <%= link_to t('common.show'), admin_train_path(@train) %>
  <span> | </span>
  <%= link_to t('common.back'), admin_trains_path %>
</p>
