<ul>
  <li>Bottom&nbsp;&mdash; <%= wagon.bottom_places  %></li>
  <li>Top&nbsp;&mdash; <%= wagon.top_places  %></li>
  <li>Side bottom&nbsp;&mdash; <%= wagon.side_bottom_places  %></li>
  <li>Side top&nbsp;&mdash; <%= wagon.side_top_places  %></li>
</ul>
