<footer>
  <div class="container">
    <p class="copyright">
      &copy;&nbsp;2016 Анна Селиванова. Учебный проект в&nbsp;онлайн-школе
      <%= link_to 'Thinknetica', 'http://thinknetica.com', target: '_blank' %>.
    </p>
  </div>
</footer>