<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><%= link_to t('.routes'), admin_routes_path %></li>
    <li><%= link_to t('.stations'), admin_railway_stations_path %></li>
    <li><%= link_to t('.trains'), admin_trains_path %></li>
    <li><%= link_to t('.tickets'), admin_tickets_path %></li>
  </ul>
</div>
