<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><%= link_to 'Routes', admin_routes_path %></li>
    <li><%= link_to 'Stations', admin_railway_stations_path %></li>
    <li><%= link_to 'Trains', admin_trains_path %></li>
    <li><%= link_to 'Tickets', admin_tickets_path %></li>
  </ul>
</div>
